body {
    background-color: #7267CB;
    color: #9ec2cc;
}

.menu {
    text-align: center;
    margin: 15px;
}

.menu-gombok {
    position: fixed;
    bottom: 10px;
    left: 0.5%;
    background-color: #6E3CBC;
    border-radius: 25px;
    width: auto;
    text-align: center;
    font-size: 30px;
    display: flex;
}

.menu-gombok i:hover {
    transition: 0.4s;
    font-size: 35px;
}

.menu-gombok i {
    cursor: pointer;
    transition: 0.2s;
    margin: 5px;
}

.kep-doboz {
    background-color: #98BAE7;
    border-radius: 5px;
    position: relative;
    width: 210px;
    margin: 25px;
}

.kep-doboz img {
    margin: 5px;
    border-radius: 5px;
}

.kep-interakciok {
    position: absolute;
    font-size: 23px;
    top: 178px;
    left: 5%;
}

.kep-interakciok i:first-child {
    margin-right: 150px;
}

.kep-interakciok i {
    cursor: pointer;
    transition: 0.2s;
}

.kep-interakciok i:hover {
    font-size: 25px;
    transition: 0.4s;
}

.kep-cim {
    position: absolute;
    text-align: center;
    width: 120px;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.kep-leiras {
    font-size: 15px;
    color: black;
    word-wrap: break-word;
    text-align: center;
}

.kepek {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.close {
    color: rgb(245, 60, 60);
    opacity: 1;
    border: none;
}

.close:hover {
    color: rgb(187, 14, 14);
}

.close:focus {
    border: none;
    outline: none;
}

.aktiv {
    display: block !important;
}

.inaktiv {
    display: none !important;
}

.kep-doboz-befejezes {
    background-color: #98BAE7;
    border-radius: 5px;
    width: 210px;
    margin: 25px;
    margin: 0 auto;
    margin-top: 45px;
}

.kep-cim-befejezes {
    position: absolute;
    text-align: center;
    width: 120px;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.kep-leiras-befejezes {
    font-size: 15px;
    color: black;
    word-wrap: break-word;
    text-align: center;
}

.kep-body-befejezes img {
    margin: 5px;
    border-radius: 5px;
}

textarea {
    outline: none;
    resize: none;
    width: 200px;
    height: 105px;
}

input {
    outline: none;
}

#hiba-uzenet {
    display: none;
    user-select: none;
    position: fixed;
    text-align: center;
    width: 300px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -150px;
    z-index: 300;
}

.nincsenek-kepek {
    text-align: center;
    margin: 0 auto;
    margin-top: 23%;
    width: 350px;
}

.nincsenek-kepek i {
    cursor: pointer;
    background-color: #6E3CBC;
    border-radius: 25px;
    width: 50px;
    height: 30px;
}

.nincsenek-kepek i:hover {
    transition: 0.4s;
    font-size: 35px;
}

.nincsenek-kepek i {
    cursor: pointer;
    transition: 0.2s;
    margin: 5px;
}